<app-navbar2></app-navbar2>

<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 about1">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 about2">
      <p>
        &nbsp;&nbsp;Welcome to Food for soul,our recipe sharing community, where
        every bite is a journey and every recipe is a story. Our passion for
        food is matched only by our love for sharing it with others. From
        home-cooking to fine dining, we believe that every meal should be an
        experience to savor.
      </p>
      <p>
        By creating an account, you will have the ability to share your
        delicious creations with our community of food enthusiasts. You can post
        recipes, rate and review others' recipes, and save your favorite recipes
        for easy access. We can't wait to see what you have to share!
      </p>

      <p>
        &nbsp;&nbsp;Join us as we explore new flavors, techniques, and
        ingredients, and discover the delicious tales that lie within every
        dish.
      </p>

      <div class="text-center">
        <app-button
          text="Back to homepage"
          color="#575c65"
          routerLink="/home"
        ></app-button>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
