.social-icons{

    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }

  .social-icons li {
      list-style: none;
  
  }
  
  .social-icons li a{
      font-size: 2em;
      margin: 0 10px;
      display: inline-block;
      transition: 0.5s;
  

  }

  .social-icons li a:hover{
  transform: translateY(-10px);
  }
  
.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
  }
