<app-navbar2></app-navbar2>
<app-navbar-cat></app-navbar-cat>
<div class="banner"></div>
<div class="logo">
  <h4>food</h4>
  <h4>&nbsp;&nbsp;for</h4>
  <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;soul</h4>
</div>

<!-- <div *ngFor="let post of posts" class="container">
  <app-blog-card [post]="post"></app-blog-card>
</div>

<div class="post-boxes" *ngFor="let post of posts">
<app-post-box *ngIf="searchText==='' || post.name.toLowerCase().includes(searchText)"id="Blogs" ></app-post-box>
</div> -->



<app-post-box></app-post-box>


<app-footer id="Contact"></app-footer>

<!-- *ngIf="searchText==='' || post.name.toLowerCase().includes(searchText)" -->
